body {
    color: white;
    padding: 0;
    margin: 0;
    background-color: #202124;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #3c4043;
}

header ul {
    width: auto;
    margin-right: 3%;
    list-style-type: none;
    padding-top: 5px;
}

header ul li {
    width: 50%;
    float: left;
}

header ul li img {
    width: 74px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#logo {
    text-align: left;
}

#return {
    text-align: right;
}

h1 {
    color: #f28b82;
    font-size: 20px;
    font-weight: normal;
    margin-left: 60px;
    margin-top: 67px;
}

section .content {
    width: calc(100% - 205px);
    margin-left: 45px;
    margin-top: 45px;
    border-bottom: 1px solid #3c4043;
    display: inline-block;
}

.line {
    height: 30px;
    margin-bottom: 13px;
}

.query {
    width: 15.5%;
    height: 10px;
    display: inline-block;
    color: #bdc1c6;
    font-size: 13px;
}

#q1 {
    color: #e8eaed;
    font-size: 16px;
}

#t1 {
    color: #e8eaed;
    height: 25px;
    font-size: 13px;
    font-weight: 700;
}

.field {
    width: 49.5%;
    height: 25px;
    display: inline-block;
    margin-right: 10px;
}

.tips {
    width: 28%;
    height: 25px;
    color: #969ba1;
    font-size: 11px;
    display: inline-block;
}

span {
    color: #dadce0;
    font-family: monospace;
}

.field input {
    color: #bdc1c6;
    height: 30px;
    width: 100%;
    background-color: transparent;
    border: 1px solid #5f6368;
    border-radius: 1px;
    font-size: 13px;
    box-sizing: border-box;
    padding-left: 10px;
}

.field input:focus {
    background-color: transparent;
    border: 1px solid #475772;
    box-sizing: border-box;
    padding-left: 10px;
    outline: none;
}

#l5 {
    margin-bottom: 35px;
}

#search {
    margin-top: 30px;
    height: 30px;
    width: 120px;
    background-color: #8ab4f8;
    border: 1px solid #8ab4f8;
    border-radius: 2px;
    color: #202124;
    font-size: 11px;
    font-weight: bold;
    cursor: default;
    user-select: none;
}

#search:hover {
    background-color: #AECBFA;
}