/*
    cor principal #202124
    cor do botão #303134
*/

body {
    margin: 0;
    padding: 0;
    background-color: #202124;
    font-family: Arial, sans-serif;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    height: 55px;
}

header nav {
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
}

header nav ul{
    list-style-type: none;
    color: white;
    width: 20%;
    margin-left: 75%;
}

header nav ul li{
    float: left;
    font-size: 11pt;
    text-align: center;
    width: 50%;
    margin-top: 5px;
}

section {
    padding-top: 10px;
}

section img {
    margin-left: calc(50% - 136px);
}

section form {
    margin-top: 20px;
    margin-left: calc(50% - 290px);
    width: 580px;
}

#txtPesquisa {
    height: 40px;
    width: 580px;
    background-color: transparent;
    border: 1px solid #5F6368;
    border-radius: 100px;
}

#txtPesquisa:hover {
    background-color: #303134;
    border: none;
}

#txtPesquisa:active {
    background-color: #303134;
    border: none;
}

.btn {
    color: white;
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}